
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      
      :root {
        * {
          font-family: 'Poppins', sans-serif;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        /* colors */
        --body-color: #f0f2f5;
        --sidebar-color: #fff;
        --primary-color: #4CAF50;
        --text-color: #fff;
        --toggle-color: #fff;
        
        --trans-02: all 0.2s ease; /* line for transition */
        --trans-03: all 0.3s ease;
        --trans-04: all 0.4s ease;
        --trans-05: all 0.5s ease;
      }
      
      body {
        height: 100vh;
        background: var(--body-color);
      }
      
      /* reusable css */
      .sidebar .text {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
      }
      .sidebar .image{
        min-width: 60px;
        display: flex;
        align-items: center;
      }
      
      /* Sidebar */
      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background: var(--sidebar-color);
      }
      .sidebar header {
        position: relative;
      
      }
      .sidebar .image-text img {
        width: 40px;
        border-radius: 6px;
      }
      
      .sidebar header .image-text {
        display: flex;
        align-items: center;
      }
      header .image-text .header-text {
        display: flex;
        flex-direction: column;
      }
      .header-text .name {
      
        font-weight: 600;

      }
      .header-text .profession {
        margin-top:-2px;

      }
  .sidebar header .toggle {
       position: absolute;
       top: 50%;
      right: -25px;
       transform: translateY(-50%);
       height:25px;
       width:25px;
       background: var(--primary-color);
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       color: var(--sidebar-color);
       font-size: 22px;

      }
      /* 10:04 / 37:17*
      https://www.youtube.com/watch?v=bFvfqUMjvsA&list=PLImJ3umGjxdCjoBGj1eGQwcopR0P0edAK/
      